.hero-mid2 {
    width: 100%;
    height: 50vh;
    background: black;
}

.hero-mid2 .hero-text {
    top: 30%;
}

.hero-mid2 .hero-text input {
    padding: 0.8rem;
    border-radius: 5px;
    width: 18rem;
    font-size: 1rem;
}

.hero-mid2 img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity: 0.8;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p {
    padding: 0.5rem 0 2rem 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.hero-text button {
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    width: 6rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgb(42, 95, 243);
    color: white;
    margin-left: 0.5rem;
}